<!--COMP229-013 F2021
    Group Project Part 2 First Release - Smart Survey
    File Name:   server/views/home.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Template for home page (landing page)
  -->

<!-- Partials -->
<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %> <%-
include partials/content.ejs %>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!--   <div class="col-md-offset-1 col-md-10"> -->
    <div class="col-lg-offset-1 col-lg-10">
      <br />
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center col-2">Title</th>
              <th class="text-center col-4">Description</th>
              <th class="text-center col-2">Expiration Date</th>
              <th class="text-center col-2">Survey status</th>
            </tr>
          </thead>
          <tbody>
            <!--The body of the table-->
            <tr>
              <% for(let count = 0; count < SurveyList.length; count++) { %>
              <td class="text-center col-2">
                <a
                  href="surveys/respondSurvey/<%= SurveyList[count]._id %>/<%= 0%>"
                  class="btn btn-info"
                  role="button"
                >
                  <%= SurveyList[count].title %></a
                >
              </td>
              <td class="text-center col-4">
                <%= SurveyList[count].description %>
              </td>
              <td class="text-center col-2">
                <%= SurveyList[count].expirationDate %>
              </td>
              <td class="text-center col-2">
                <%= SurveyList[count].surveyStatus %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-offset-1 col-lg-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
