<!-- Partials -->
<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %> <%-
include partials/content.ejs %>

<!-- Page Content -->
<div class="container">
  <div class="row">
 <!--   <div class="col-md-offset-1 col-md-10"> -->
    <div class="col-lg-offset-1 col-lg-10"> 

      <h3>Survey List </h3>
     
      <br><br>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr> 
              <th class="text-center">Survey status</th>
              <th class="text-center">Description</th>
              <th class="text-center">Due Date</th>
            </tr>
            </thead>
            <tbody>
          <!--The body of the table  right now is just a placeholder-->
     
              <td class="text-center">Active survey</td>  <!-- to be linked to active survey-->
              <td class="text-center">Car survey</td>
              <td class="text-center">Dec.19.2021</td>         
            </tr>
           
          </tbody>
        </table>
      </div>
              <div class="col-lg-offset-1 col-lg-10 text-center"> 
     
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
