<!-- Partials -->
<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<%- include partials/content.ejs %>

<!-- Page Content -->
<!-- Using bootstrap card component to list projects-->
<div class='container'>
  <div class="card" style="width: 36rem;">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text">
          <ol>
            <li></li>
            <li></li>
            <li></li>
          </ol>
        </p>
      </div>
  </div>
  <br />
  <div class="card" style="width: 36rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <p class="card-text"></p>
      <p class="card-text">
        <ol>
          <li></li>
        </ol>
      </p>
    </div>
  </div>
  <br />
    <div class="card" style="width: 36rem;">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text">
          <ol>
            <li></li>
            <li></li>
          </ol>
        </p>
      </div>
    </div>


<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %> 