<!--COMP229-013 F2021
    Group Project Part 2 First Release - Smart Survey
    File Name:   server/views/surveyAdmin/createMCQ.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Template for create multiple choice question (Not fully implemented yet)
  -->

<!-- Partials -->
<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %>
<%- include ../partials/content.ejs %>

<!-- Page Content -->
<div class="container">
  <div class="container offset-md-3">  
    <form method="POST" name="questionsForm" autocomplete="off">
      <div class="row">
        <div class="col-md-3 mb-2">
          <label for="title">Survey title: </label>
            <input type="text"
            class="form-control"
            name="title"
            id="title"
            <% if (title == "MCQ Survey") { %>
            placeholder="Enter Survey title"
            required
            <% } else { %>
            value = "<%= Survey.title %>"
            readonly = "readonly"
            <% } %>>
        </div>

        <div class="col-md-3">
          <label for="title">Expiration Date: </label>
          <input type="date"
          class="form-control"
          name="expirationdate"
          id="expirationdate"
          <% if (title == "MCQ Survey") { %>
          required
          <% } else { %>
          value = "<%= Survey.expirationDate %>"
          readonly = "readonly"
          <% } %>>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 mb-4">
          <label for="description">Description: </label>
          <textarea 
            class="form-control" 
            name="description"
            id="description"
            <% if (title == "MCQ Survey") { %>
            placeholder="Enter description"
            <% } else { %>
            placeholder = "<%= Survey.description %>"
            readonly = "readonly"
            <% } %>></textarea>
        </div>
      </div>

      <% if (title == "Creating Survey...") { %>
        <% for (let count = 0; count < QuestionList.length; count++) { %>
          <div class="row">
            <div class="col-md-6 mb-2">
              <label for="question">Question <%= count + 1 %>: </label>
              <input type="text"
              class="form-control"
              name="question<%= count + 1 %>"
              id="question<%= count + 1%>"
              value="<%= QuestionList[count].title %>"
              readonly = "readonly">
            </div>
          </div>
          <% for (let num = 0; num < TempList[count].length ; num++) { %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="option" id="option">
              <label class="form-check-label" for="option<%= count %>">
                <input type="text"
                class="form-control mb-2"
                name="option<%= count %>"
                id="option<%= count %>"
                value="<%= TempList[count][num].title %>"
                readonly="readonly">
              </label>
            </div>
          <% } %>
        <% } %>

      <% } else if (title == "Creating Question...") { %>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="newquestion">New Question: </label>
            <input type="text"
            class="form-control"
            name="newquestion"
            id="newquestion"
            value=""
            required>
          </div>
          <input type="hidden" value="<%= Survey._id %>" name="surveyid" id="surveyid">
          <div class="row">
            <input class="btn btn-success col-md-2 offset-md-1" type="submit" value="Add Options">
            <a href="/surveys/cancelMCQQuestion/<%= Question._id %>">
              <input class="btn btn-warning offset-md-6" type="button" value="Cancel">
            </a>
          </div>
        </div>
        <% for (let count = 1; count < QuestionList.length; count++) { %>
          <div class="row">
            <div class="col-md-6 mb-2">
              <label for="question">Question <%= count %>: </label>
              <input type="text"
              class="form-control"
              name="question<%= count %>"
              id="question<%= count %>"
              value="<%= QuestionList[count - 1].title %>"
              readonly = "readonly">
            </div>
          </div>
          <% for (let num = 0; num < TempList[count - 1].length ; num++) { %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="option" id="option">
              <label class="form-check-label" for="option<%= count %>">
                <input type="text"
                class="form-control mb-2"
                name="option<%= count %>"
                id="option<%= count %>"
                value="<%= TempList[count - 1][num].title %>"
                readonly="readonly">
              </label>
            </div>
          <% } %>
        <% } %>
      <% } else if (title == "Adding Options...") { %>        
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="question">Question <%= QuestionList.length %>: </label>
            <input type="text"
            class="form-control"
            name="question<%= QuestionList.length %>"
            id="question<%= QuestionList.length %>"
            value="<%= QuestionList[QuestionList.length - 1].title %>"
            readonly = "readonly">
          </div>
        </div>
        
        <% for (let count = 0; count < OptionList.length; count++) { %>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="option" id="option">
            <label class="form-check-label" for="option<%= count + 1 %>">
              <input type="text"
              class="form-control mb-2"
              name="option<%= count + 1 %>"
              id="option<%= count + 1 %>"
              value="<%= OptionList[count].title %>"
              readonly="readonly">
            </label>
          </div>
        <% } %>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="option" id="option">
          <label class="form-check-label" for="option">
            <input type="text"
            class="form-control mb-2"
            name="newoption"
            id="newoption"
            value=""
            required>
          </label>
        </div>
        <input type="hidden" value="<%= Survey._id %>" name="surveyid" id="surveyid">
        
        <div class="row">
          <input class="btn btn-primary col-md-2 offset-md-2" type="submit" value="Save Option">
        </div>
        <div class="row">
          <div class="col-md-2">
            <a href="/surveys/addMCQQuestions/<%= Survey._id %>">
              <input class="btn btn-success" type="button" value="Save Question">
            </a>
          </div>
        </div>
      <% } else if (title == "Survey Statistics") { %>
        <h4><i>This survey was answered by <%= ResponseList.length %> people</i></h4>
        <% for (let count = 0; count < QuestionList.length; count++) { %>
          <div class="row">
            <div class="col-md-6 mb-2">
              <label for="question">Question <%= count + 1 %>: </label>
              <input
                type="text"
                class="form-control"
                name="question<%= count + 1 %>"
                id="question<%= count + 1%>"
                value="<%= QuestionList[count].title %>"
                readonly="readonly"
              />
            </div>
          </div>
          <% for (let num = 0; num < TempList[count].length ; num++) { %>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="option" id="option">
              <label class="form-check-label" for="option">
                <input type="text"
                class="form-control mb-2"
                name="option<%= num + 1 %>"
                id="option<%= num + 1 %>"
                value="<%= TempList[count][num].title %>"
                readonly="readonly">
              </label>
              <div class="btn btn-outline-primary offset-md-1">
                <i class="fas fa-chart-bar">&nbsp;&nbsp;&nbsp;&nbsp;<%= AnswerList[count][num].length %> / <%= ResponseList.length %></i>
              </div>
            </div>
          <% } %>
        <% } %>
      <% } else { %>

      <% } %>

      <% if (title == "MCQ Survey") { %>
        <div class="row">
          <input type="submit" class="btn btn-primary col-md-2 mb-3 offset-md-2" value="Proceed to Questions">
        </div>
        <div class="row">
          <div class="col-md-1 offset-md-6">
            <a href="/surveys">
              <input class="btn btn-warning" type="button" value="Cancel">
            </a>
          </div>
        </div>
      <% } else if (title == "Creating Survey...") { %>
        <script>
          function cancelConfirmation() {
            let cancel = confirm("Are You Sure?");

            if (cancel) {
              console.log("yes")
              window.location.assign("/surveys/delete/<%= Survey._id %>")
            }
          }
        </script>
        <div class="row">
          <input type="submit" class="btn btn-warning col-md-2 mb-5 offset-md-2" value="Add a Question">
        </div>
        <div class="row">
          <div class="col-md-1">
            <a href="/">
              <input class="btn btn-success" type="button" value="Publish">
            </a>
          </div>
          <div class="col-md-1">
            <input class="btn btn-warning" onclick="cancelConfirmation()" type="button" value="Cancel">
          </div>
        </div>
      <% } else { %>
      <% } %>
    </form>
  </div>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>