<!--COMP229-013 F2021
    Group Project Part 2 First Release - Smart Survey
    File Name:   server/views/surveyAdmin/createSurvey.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Template for create survey page. Future functionality is commented out.
  -->

<!-- Partials -->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %> 
<%- include ../partials/content.ejs %>

<!-- Page Content -->
<div class="container offset-md-4">  
  <%- include ../partials/template.ejs %>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>