<!--COMP229-013 F2021
    Group Project Part 2 First Release - Smart Survey
    File Name:   server/views/surveyAdmin/showResult.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Template for showing survey statistics
  -->

<!-- Partials -->
<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>
<%- include ../partials/content.ejs %>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <input
        type="button"
        class="btn btn-primary"
        value="Print"
        onclick="window.print();"
      />
      <br /><br />
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Survey Question</th>
              <th class="text-center">User Responses</th>
              <th class="text-center">Date Answered</th>
            </tr>
          </thead>
          <tbody>
            <!--The body of the table-->
            <!--To be implemented later once the shcema is made.-->
            <!--The table structure will be similar to mySurvey.ejs-->
          </tbody>
        </table>
      </div>
      <div class="col-lg-offset-1 col-lg-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>

  <!-- Partials -->
  <%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs
  %>
</div>
