<!--COMP229-013 F2021
    Group Project Part 2 Final Release - Smart Survey
    File Name:   server/views/surveyAdmin/updateSurvey.ejs
    Student#:    301147411, 301182173, 301163120, 301168420, 301182196, 301159644 
    Name:        Marcus Ngooi, Tatsiana Ptushko, Josef Signo, Sukhmannat Singh, Yuko Yamano, Agustin Ignacio Zuluaga
    Description: Template for survey update page
  -->

<!-- Partials -->
<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>
<%- include ../partials/content.ejs %>

<!-- Page Content -->
<div class="container offset-md-4">
  <form method="POST" autocomplete="off">
    <div class="row">
      <div class="col-sm-3 mb-2">
        <label for="title">Survey Title: </label>
        <input type="text" class="form-control" name="title" id="title"
        value="<%= Survey.title %>" 
        <% if (title == "Edit Survey") { %> 
          required
        <% } else { %>
          readonly = "readonly" 
        <% } %>>
      </div>

      <div class="col-sm-3">
        <label for="title">Expiration Date: </label>
        <input type="date" class="form-control" name="duedate" id="duedate"
        value="<%= Survey.expirationDate %>"
        <% if (title == "Edit Survey") { %>
          required 
        <% } else { %> 
          readonly = "readonly" 
        <% } %>>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 mb-4">
        <label for="description">Description: </label>
        <input type="text" class="form-control" name="description"
        id="description" value="<%= Survey.description %>" 
        <% if (title == "Edit Survey") { %> 
          required 
        <% } else { %> 
          readonly = "readonly" 
        <% } %>>
      </div>
    </div>

    <% if (title == "Edit Survey") { %> 
      <% for (let count = 0; count < QuestionList.length; count++) { %>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="question">Question <%= count + 1 %>: </label>
            <input
              type="text"
              class="form-control"
              name="question<%= count + 1 %>"
              id="question<%= count + 1%>"
              value="<%= QuestionList[count].title %>"
              readonly="readonly"
            />
          </div>
            <a href="/surveys/updateQuestion/<%= QuestionList[count]._id %>"
              class="btn btn-warning col-md-1 mt-3">
              <i class="fas fa-sm fa-pencil-alt"></i> Edit
            </a>
          <div class="col-md-2 mt-2">
            <a href="/surveys/deleteQuestion/<%= QuestionList[count]._id %>"
              class="btn btn-danger mt-3">
              <i class="fas fa-sm fa-trash-alt"></i> Delete
            </a>
          </div>
        </div>
        <% for (let num = 0; num < TempList[count].length ; num++) { %>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="option" id="option">
            <label class="form-check-label" for="option">
              <input type="text"
              class="form-control mb-2"
              name="option<%= num + 1 %>"
              id="option<%= num + 1 %>"
              value="<%= TempList[count][num].title %>"
              readonly="readonly">
            </label>
          </div>
        <% } %>
      <% } %>
    <% } else if (title == "Editing Question...") { %>
      <div class="row">
        <div class="col-md-6 mb-2">
          <label for="question">Question: </label>
          <input
            type="text"
            class="form-control"
            name="question"
            id="question"
            value="<%= Question.title %>"
            required/>
        </div>
      </div>
      <% for (let count = 0; count < OptionList.length ; count++) { %>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="option" id="option">
          <label class="form-check-label" for="option<%= count + 1 %>">
            <input type="text"
            class="form-control mb-2"
            name="option<%= count + 1 %>"
            id="option<%= count + 1 %>"
            value="<%= OptionList[count].title %>">
          </label>
        </div>
      <% } %>
    <% } else { %>

    <% } %>

    <input
      class="btn btn-success col-md-1 mt-5"
      type="submit"
      value="Update"
    />
    <% if (title == "Editing Question...") { %>
    <a href="/surveys/updateSurvey/<%= Survey._id %>">
      <input
        class="btn btn-warning col-md-1 mt-5"
        type="button"
        value="Cancel"
      />
    </a>
    <% } else { %> <% } %>
  </form>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>