<!-- Partials -->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %> 
<%- include ../partials/content.ejs %>

<!-- Page Content -->
<div class="container offset-md-3">
  <p>
    <!-- <input type="button" class="btn btn-secondary" value="MCQ Survey"></button>
    <input type="button" class="btn btn-secondary" value="True/False Survey"></button>
    <input type="button" class="btn btn-secondary" value="Short Answers Survey"></button> -->
  </p>

  <form method="POST" autocomplete="off">
    <div class="row">
      <div class="col-sm-3 mb-2">
        <label for="title">Survey Title: </label>
          <input type="text"
          class="form-control"
          name="title"
          id="title"
          value="<%= survey.Title %>"
          required>
        </div>

        <div class="col-sm-3">
          <label for="title">Due Date: </label>
          <input type="text"
          class="form-control"
          name="duedate"
          id="duedate"
          value="<%= survey.DueDate %>"
          required>
        </div>
      
      <div class="col-md-7 mb-4">
        <label for="description">Description: </label>
        <input type="text"
          class="form-control"
          name="description"
          id="description"
          value="<%= survey.Description %>"
          required>
      </div>
      
      <!-- <%// for (let count = 0; count < questions.length; count++) { %>
        <div class="col-md-5">
          <label for="question <% //+ count %>">Question: </label>
          <input type="text"
          class="form-control"
          name="question"
          id="question"
          value="<%// questions[count] %>"
          required>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="option" id="true" value="true">
          <label class="form-check-label" for="option">
            True
          </label>
        </div>
        
        <div class="form-check mb-3">
          <input class="form-check-input" type="radio" name="option" id="false" value="false">
          <label class="form-check-label" for="option">
            False
          </label>
        </div>
      <%// } %>
      <input type="submit" class="btn btn-warning col-md-3 mb-5 offset-md-1" value="Add Question">-->
    </div>

    <input class="btn btn-success" type="submit" value="Publish">
    <a href="/">
      <input class="btn btn-warning" type="button" value="Cancel">
    </a>
  </form>
</div>

<!-- Account for Fixed Bottom -->
<br />
<br />
<br />
<br />

<!-- Partials -->
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>